.clearfix:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.containInfo {
	padding-top: 30px ;
	padding-bottom: 50px;
	width: 960px;
	margin: 0 auto;
	height: 100%;
}

.weDo, .studentBox {
	width: 240px;
}

.weDoFloat {
	width: 200px;
	float: left;
}

.spacing {
	margin-bottom: 20px;
}

.linkStyle {
	font-style: italic;
  	text-decoration: none;
}

.meetLink {
	float: right;
	margin-top: -30px;
	margin-right: 10px;
	font-style: italic;
	text-decoration: none;
}

.icon1 {
	width: 30px;
	float: left;

}

.name1 {
	width: 100px;
	float: left;

}

.peopleLocate {
	float: left;
	margin-left: 80px;
	width: 680px;
	margin-top: -40px;
}

.textLocate {
	margin-top: 29px;
}

.peopleLoop {
	float: right;
	width: 759px;
	margin-top: 10px;
	padding: 0;
}

.doSpace {
	margin-top: 10px;
}

.weBox {
	float: right;
	margin-left: 40px;
	width: 200px;
}

.weBox p {
	margin-top: -10px;
}

.clickBox {
	padding: 10px 0 10px 8px;
	margin-top: -1px;
	margin-left: -10px;
}

#weAre {
	padding-bottom: 20px;
}

.lowerWidth {
	width: 960px;
	margin: 0 auto;
}

.className {
	padding-top: 13px;
	margin-bottom: 13px;
}

.lowerTitle {
	margin-bottom: 5px;
}

.studentBox {
	float: left;
}

.studentBorder {
	border-bottom: 4px solid #D0D0D0;
}

.student img {
	margin-top: 3px;
	margin-left: 20px;
}

.studentName {
	float: right;
	padding-top: 40px;
	font-size: 18px;
}

blockquote {
	padding: 5px;
	margin: 0 auto;
	font-size: 20px;
	color: #666666;
}

.dateBox {
	float: right;
	margin-top: -10px;
}

.monthBox {
	background: #303d42;
	width: 40px;
	color: white;
	padding: 4px;
	text-align: center;
}

.dayBox {
	background: #fec013;
	width: 40px;
	padding: 4px;
	text-align: center;
	margin-top: -15px;
	margin-bottom: 5px;
}

.news {
	width: 680px;
	margin-left: 40px;
	float: left;
}

.newsHead {
	margin-bottom: 10px;
}

.commentSpace {
	margin-top: -10px;
}

.newsLoop{
	width: 700px;
}

.newsTitle {
	padding-top: 10px;
}

#bottomPostRule {
	margin: 0;
	border-color: #d0d0d0;
}

.titleBox {
	height: 40px;
}

.newsBox {
	width: 44.2%;;
	float: left;
	padding-right: 40px;
	margin-bottom: 15px;
}

.newsBox:nth-child(2), .newsBox:last-child {
	padding-right: 0;
}

.newsBody a {
	text-decoration: none;
}

.newsBody a:hover {
	color: #7898a4;
	text-decoration: underline;
}

.indexBorder {
	float: right;
	width: 680px;
	border-bottom: 4px solid #D0D0D0;
	margin-top: 1px;
	height: 35px;
	margin-bottom: 20px;
}

.lowerIndexBorder {
	border-bottom: 4px solid #D0D0D0;
}

.newsLink {
	padding-bottom: 10px;
}

.imgBorder {
	padding: 8px;
	border: 1px solid #D0D0D0;
	background: #f2f2f2;
}

.post-categories  {
	margin-top: 5px;
}

.post-categories li {
	list-style-type: none;
	margin-left: -40px;
}

#actionCall {
	height: 45px;
	background: #f2f2f2;
	border-bottom: 1px solid #d0d0d0;
	border-top: 1px solid #d0d0d0;
}

.containAction {
	width: 600px;
	margin: 0 auto;
	font-style: italic;
	margin-top: -4px;
  text-align: center;
}

.containAction p {
	font-size: 17px;
  display: inline-block;
}

#applyBtn {
  margin-left: 15px;
	margin-top: 10px;
}

#applyBtn a {
	color: white!important;
	text-decoration: none;
}

.headingBorder {
	margin-bottom: 10px;
	padding-bottom: 2px;
	border-bottom: 4px solid #D0D0D0;
	height: 20px;
}

.border {
	border-bottom: 8px solid #DEDEDE;
}

.fullsize {
	float: right;
	margin-top: -50px;
	margin-right: -180px;
}

/*START CAROUSEL*/

.emphasisTitleCarousel1 {
	color: #f2f2f2;
	font-size: 55px;
	margin-top: -5px;
	line-height: .85em;
	letter-spacing: -2px;
	font-weight: bold;
	margin-bottom: 25px;
}

.smallHeadlineCarousel1 {
	font-size: 28px;
	line-height: 1em;
	letter-spacing: 1px;
	font-weight: bold;
	color: #FEC013;
	padding: 0;
	font-family: 'Gochi Hand', cursive;
}

.carouselText {
	color: #d0d0d0;
	font-size: 16px;
}

.carouselarrows {
	width: 1260px;
}

.carousel {
  position: relative;
  line-height: 1;
  margin-top: 20px;
  height: 300px;
  width: 100%;
}

.first, .second {
  height: 300px;
  margin: 10px;
  padding: 0;
  width: 100%;
}

.carousel-inner {
  position: relative;
  width: 100%;
  height:325px;
  overflow: hidden;
  margin-top: -4%;
  z-index: -1;
}

#myCarousel a {
  text-decoration: none;
}

.carousel .item {
  position: relative;
  display: none;
}

.carousel.carousel-fade .item {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.carousel.carousel-fade .item {
  opacity: 0;
}

.carousel.carousel-fade .active.item {
  opacity: 1;
}

.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
  left: 0;
  z-index: 2;
  opacity: 0;
  filter: alpha(opacity=0);
}
.carousel.carousel-fade .next,
.carousel.carousel-fade .prev {
  left: 0;
  z-index: 1;
}

.carousel.carousel-fade .carousel-control {
  z-index: 0;
}

#taglineInfo, .carousel-caption {
	width: 470px;
	margin-top: -55px;
}

.carousel .active,
.carousel .next,
.carousel .prev {
  display: block;
}

.carousel .active {
  left: 0;
}

.margin {
  width: 960px;
  margin: 0 auto;
  padding-top: 80px;
}

.carousel .next,
.carousel .prev {
  position: relative;
  top: 0;
  width: 100%;
}

.carousel .next {
  left: 100%;
}

.carousel .prev {
  left: -100%;
}

.carousel .next.left,
.carousel .prev.right {
  left: 0;
}

.carousel .active.left {
  left: -100%;
}

.carousel .active.right {
  left: 100%;
}

.carousel-control {
  position: absolute;
  top: 50%;
  left: 15px;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-size: 70px;
  font-weight: 100;
  line-height: 25px;
  text-align: center;
  padding-top: 2px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.carousel-control.right {
  right: 15px;
  left: auto;
}

.carousel-control:hover {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.carouselBorder {
  float: right;
  margin-top: -90px;
}


.carouselImg {
	width: 420px;
	float: right;
	margin-top: -20px;
}

.newsBody {
	margin-top: 15px;
	width: 320px;
}

/*START CONTENT*/

.newsBorder {
	float: right;
	width: 680px;
	border-bottom: 4px solid #D0D0D0;
	margin-top: 42px;
	height: 35px;
	margin-bottom: 20px;
}

.post1Meta  p {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 10px;
	font-weight: 100;
}

.floatMeta {
	float: left;
	padding: 0 20px 0 0;
	margin-top: -4px;
}

.metaImg {
	margin-top: 8px;
	border-top: 1px solid #d0d0d0;
}

.metaImg hr {
	padding: 0;
	margin: 0;
}

/*START BUTTONS*/

.btn {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #F5F5F5;
  background-image: -moz-linear-gradient(center top , #FFFFFF, #E6E6E6);
  background-repeat: repeat-x;
  border-color: #E6E6E6 #E6E6E6 #A2A2A2;
  border-radius: 4px 4px 4px 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  color: #7898A4;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
  padding: 4px 14px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
}

.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
  background-color: #E6E6E6;
  color: #333333;
}

.btn:hover {
  -moz-transition: background-position 0.1s linear 0s;
  background-color: #E6E6E6;
  background-position: 0 -15px;
  color: #333333;
  text-decoration: none;
}

.btn:focus {
  outline: thin dotted #333333;
  outline-offset: -2px;
}

.btn.active, .btn:active {
  background-color: #E6E6E6;
  background-image: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  outline: 0 none;
}

.btn.disabled, .btn[disabled] {
  background-color: #E6E6E6;
  background-image: none;
  box-shadow: none;
  cursor: default;
  opacity: 0.65;
}

.btn-large {
  border-radius: 5px 5px 5px 5px;
  font-size: 16px;
  line-height: normal;
  padding: 9px 14px;
}

.btn-large [class^="icon-"] {
  margin-top: 2px;
}

.btn-primary.active, .btn-warning.active, .btn-danger.active, .btn-success.active, .btn-info.active, .btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}

.btn {
  border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}

.btn-primary {
  background-color: #006DCC;
  background-image: -moz-linear-gradient(center top , #0088CC, #0044CC);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
  background-color: #0044CC;
  color: #FFFFFF;
}

.btn-warning {
  background-color: rgba(250,167,50,.5);
  background-image: -moz-linear-gradient(center top , #FBB450, #F89406);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  font-color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	-moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-radius: 4px 4px 4px 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
  padding: 4px 14px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
}

.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
  background-color: #F89406;
  color: #FFFFFF;
}