.half {
  width: 430px;
  margin-top: 40px;
  float: left;
  margin-right: 40px;
  margin-bottom: 10px;
}

.programSpace {
  font-size: 50px;
  margin-top: -10px;
}

.firstHalf {
  padding-right: 40px;
}

.firstHalf, .lastHalf {
  margin-top: 10px;
  width: 460px;
  float: left;
  margin-bottom: 20px;
}

#last_p_margin_correction {
  margin-bottom: -20px;
}
.course_text_wrapper {
  height: 240px;
}

#adjustposition {
  margin-top: 60px;
  margin-bottom: 20px;
}

.bottom_bump {
  margin-bottom: 25px;
}

.third {
  width: 300px;
  padding: 10px;
  float: left;
}

.twoThird {
  width: 620px;
  padding: 0px 10px 20px 10px;
  float: left;
  margin-top: 20px;
}

.twoThird p:first-of-type {
  margin-top: 0;
}

.marginPtag {
  margin-top: -1px;
}

.img {
  margin-top: 20px;
  margin-left: 10px;
}

.contentWrap span{
  font-weight: bold;
}

#contentWrap2 {
  width: 960px;
  margin: 0 auto;
}

.firstThird {
  width: 289px;
  padding: 10px 15px 10px 15px;
  float: left;
  margin-right: 1px;
  background: rgba(255, 255, 255, 0.5);
}

.midThird {
  width: 288px;
  padding: 10px 15px 10px 15px;
  float: left;
  margin-right: 1px;
  background: rgba(255, 255, 255, 0.5);
}

.lastThird {
  width: 289px;
  padding: 10px 15px 10px 15px;
  float: left;
  background: rgba(255, 255, 255, 0.5);
}

.light {
  text-align: center;
  padding: 25px 0px 20px 0px;
}

.listStyle {
  line-height: 2;
}

.modules {
  font-size: 35px;
  margin-top: 20px;
}

.btnPlace {
  width: 150px;
  margin: -20px 0px 30px 405px;
  padding: 10x;
}

.btnPlace2 {
  margin: 10px 0px 30px 360px;
  padding: 15px;
}

.center {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 2px solid #52b3c5;
}


