
.container {
  background-color: #f2f2f2;
  margin-top: -27px;
  padding-top: 28px;
  padding-bottom: 28px;
}

.contentWrap {
  min-height: 100%;
}

#navWrap {
  text-align: center;
}

.subNav {
  margin: 30px 0;
  display: inline-block;
  border-top: 1px solid #eb8f00;
  border-bottom: 1px solid #eb8f00;
  padding: 5px 0;
}

.subNavItem {
  float: left;
  font-size: 19px;
  padding: 0 15px;
  color: #464646!important;
}

.subNavItem:hover {
  color: #52b3c5!important;
}

#introHeadline {
  font-size: 24px;
  line-height: 1em;
  margin: 20px 0 6px 0;
  text-transform: uppercase;
  font-weight: bold;
  color: #7898a4;
  padding: 0;
}

#mainSupportHead {
  color: #1a334c;
  font-size: 60px;
  margin-top: 0px;
  line-height: .7em;
  letter-spacing: -4px;
  font-weight: bold;
  margin-bottom: 20px;
}


.left {
  float: left;
  width: 34%;
  padding-right: 5%;
  background: white;
  border-radius: 8px;
  padding: 0 3%;
}

.right
{
  float: right;
  width: 57%;
  padding-left: 3%;
}

p {
  margin: 30px 0;
}

.video_placeholder {
  height: 199px;
  width: 100%;
  background-color: #aaa;
  padding-top: 155px;
  color: white;
  font-family: 'Open Sans';
  text-align: center;
}