/*temp styles*/

.wrapper {
  width: 740px;
  margin: 0 auto;
  margin-top: 15px;
  background: white;
  border-radius: 8px;
  padding: 20px 20px 1px 20px;
  border: 1px solid #bfbfbf;
  text-align: left;
}

.center {
  margin: 0 auto;
  display: block;
}

#campaignHeader {
  padding-top: 24px;
  color: #1a334c;
  font-size: 44px;
  line-height: .85em;
  letter-spacing: -2px;
  font-weight: bold;
  margin-bottom: 0;
}

#campaignSubhead {
  font-size: 20px;
  line-height: 1em;
  font-weight: bold;
  color: #6B8B97;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 15px;
}

.bodyTitle {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 32px;
  line-height: 1em;
  color: #2d2d2d;
}

.bodySubtitle {
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 1em;
  color: #2d2d2d;
}

.bodyText {
  line-height: 20px;
  color: #595959;
  text-align: justify;
}

.smallAside {
  background: white;
  width: 183px;
  float: right;
  margin-top: 5px;
  margin-left: 20px;
  margin-bottom: 15px;
  padding: 20px;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
  box-shadow: 0 4px 2px -2px #e5a700;
}

.asideImage {
  margin-top: 5px;
  margin-bottom: 20px;
}

#asideText {
  color: #2d2d2d;
  margin-top: 0;
  line-height: 18px;
  word-wrap: break-word;
  text-align: left;
  margin-bottom: 0;
}

/*end temp styles*/

.container {
  background-color: #f2f2f2;
  margin-top: -27px;
  padding-top: 28px;
  padding-bottom: 28px;
}

.contentWrap {
  width: 782px;
  min-height: 100%;
  text-align: center;
}

#navWrap {
  text-align: center;
}

.subNav {
  margin: 30px 0;
  display: inline-block;
  border-top: 1px solid #eb8f00;
  border-bottom: 1px solid #eb8f00;
  padding: 5px 0;
}

.subNavItem {
  float: left;
  font-size: 19px;
  padding: 0 15px;
  color: #464646!important;
}

.subNavItem:hover {
  color: #52b3c5!important;
}

#comingSoonModal {
 width: 35.5%;
 left: 29.25%;
 top: 30%;
 padding: 40px 20px;
}

#modalHead {
  color: #1a334c;
  font-size: 60px;
  line-height: .7em;
  letter-spacing: -4px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 25px;
}

#modalSubhead {
  font-size: 24px;
  line-height: 1em;
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  color: #7898a4;
  padding: 0;
}

#mainSupportHead {
  color: #1a334c;
  font-size: 60px;
  margin-top: 0px;
  line-height: .7em;
  letter-spacing: -4px;
  font-weight: bold;
  margin-bottom: 20px;
}

.bodyImage {
  margin-top: 5px;
  margin-bottom: 10px;
}

.left {
  margin-right: 20px;
  float: left;
}

.right {
  margin-left: 20px;
  float: right;
}

.linkWrapper {
  text-align: center;
  padding-bottom: 20px;
}

.blue {
  color: #6B8B97;
}
