/*START GLOBAL SETTINGS*/

a, img {
  border:none;
}

a {
  text-decoration: none;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, p, a, ul, label, button {
  font-family: 'Open Sans', Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: #666666;
}

h5 {
  font-size: 18px;
  margin: 0;
}

p {
  font-size: 15px;
  line-height: 1.4em;
}

a:link, a:visited {
  color: #f47c2f;
}

a:hover {
  color: rgb(193, 82, 65);
  color: #7898a4;
}

hr {
  border: 1px solid #E5E5E5;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
  visibility: visible;
}

body {
  margin: 0 auto;
}

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.imgBorder {
  padding: 8px 9px;
  border: 1px solid #D0D0D0;
  background: #f2f2f2;
}

.emphasisTitle {
  color: #1a334c;
  font-size: 60px;
  margin-top: 0px;
  line-height: .85em;
  letter-spacing: -2px;
  font-weight: bold;
  margin-bottom: 25px;
}


.emphasisTitleSm {
  font-size: 40px;
  color: #1a334c;
  margin-top: 0px;
  line-height: .85em;
  letter-spacing: -2px;
  font-weight: bold;
  margin-bottom: 25px;
}

.homesub {
  color: #1a334c;
  font-size: 24px;
  margin-top: 7px;
  margin-bottom: 10px;
  font-style: bold;
  font-family: ‘Merriweather’, Georgia, serif;
}

.smallHeadline {
  font-size: 17px;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  color: #7898a4;
  padding: 0;
}

.smallDiff {
  margin-bottom: 10px;
  font-family: ‘Merriweather’, Georgia, serif;
}

.contentWrap {
  width: 960px;
  margin: auto;
  margin-bottom: 10px;
}

/*START HEADER*/
header {
  width: 100%;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  padding: 0px;
  position: fixed;
  z-index: 1;
  height: 45px;
}

.background {
  background: rgb(125,126,125); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkN2U3ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwZTBlMGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(88,88,88,1) 0%, rgba(60,60,60,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(88,88,88,1)), color-stop(100%,rgba(60,60,60,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(88,88,88,1) 0%,rgba(60,60,60,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(88,88,88,1) 0%,rgba(60,60,60,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(88,88,88,1) 0%,rgba(60,60,60,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(88,88,88,1) 0%,rgba(60,60,60,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-8 */
  border-bottom: px solid rgba(88,88,88,1);
}

#header_wrapper {
  width: 960px;
  margin: auto;
}

#header_left {
  float: left;
}

#header_right {
    float: right;
}

#header_logo img {
  margin-top: 2px;
  height: 40px;
  float: left;
}

.socialLinks {
  width: 180px;
  float: right;
  position: relative;
  margin-top: 12px;
}
.socialLinks img {
  height: 20px;
  width: 20px;
}

#social2 {
  float: right;
  width: 50px;
}

#social3 {
  float: right;
  width: 50px;
}

#social1 {
  float: right;
  width: 40px;
}

/*SINGLE BLOG PAGE*/

.commentlist {
  display: inline;
  list-style: none;
}

.commentmetadata {
  font-size: 14px;
  padding-top: 5px;
}

.comment-author {
  padding-top: 45px;
}

.children {
  display: inline;
  list-style: none;
}

/*START FOOTER*/

footer {
  font-family: 'Open Sans', sans-serif;
  padding: 20px 0px 10px 0px;
  background: #E9E9E9;
  border-top: 8px solid #D0D0D0;
  margin: 0 auto;
  position: relative;
  height: 90px;
  clear:both;
}

#footer_wrapper {
  width: 960px;
  margin: 0 auto;
}

#footer_left {
  float: left;
  margin-top: -30px;
}

#footer_right {
  float: right;
  margin-top: -48px;
}

#footer_logo img {
  height: 50px;
}

footer h5 {
  font-size: 12px;
}

#footer_text {
  margin-top: 20px;
  text-align: center;
  color: gray;
  padding-top: 20px;
}

/*START NAVS*/

nav {
  height: 45px;
  margin-left: 20px;
}

nav ul {
  list-style: none;
  display: inline;
}

nav a {
  text-decoration: none;
  display: block;
  float: left;
  color: #444;
  font-size: 16px;
}

#headNav ul li {
  float: left;
}

#menu-top_nav {
  padding: 0px;
}

#menu-top_nav li {
  float: right;
}

#headNav a {
  padding: 12px 12px 12px 12px;
  color: #eaeaea;
  font-style: bold;
}

#headNav a:hover {
  color: #262626;
  background: white;
  background: rgb(125,126,125); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkN2U3ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwZTBlMGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(200,200,200,1) 0%, rgba(155,155,155,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(200,200,200,1)), color-stop(100%,rgba(155,155,155,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(200,200,200,1) 0%,rgba(155,155,155,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(200,200,200,1) 0%,rgba(155,155,155,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(200,200,200,1) 0%,rgba(155,155,155,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(200,200,200,1) 0%,rgba(155,155,155,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-8 */
  border-bottom: px solid rgba(200,200,200,1);
}

#headNav a:active {
  color: #d0d0d0;
}

li.current_page_item a {
  color: #fec013 !important;
}

#footNav a {
  padding: 10px 10px 0px 10px;
  color: #7898A4;
}

#footNav a:hover {
  color: white;
}

#footNav ul li {
  float: left;
}

#menu-bottom_nav {
  padding: 0px;
}

#menu-bottom_nav li {
  float: right;
}

/*BUTTONS*/

.button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding: .5em 2em .55em;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.button:hover {
  text-decoration: none;
}

.button:active {
  position: relative;
  top: 1px;
}

.orange {
  color: #fef4e9;
  border: solid 1px #da7c0c;
  background: #f78d1d;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffb227), to(#FF872D));
  background: -moz-linear-gradient(top,  #ffb227,  #FF872D);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb227', endColorstr='#FF872D');
}
.orange:hover {
  background: #f47c20;
  background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
  background: -moz-linear-gradient(top,  #f88e11,  #f06015);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
  color: #fcd3a5;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF872D), to(#ffb227));
  background: -moz-linear-gradient(top,  #FF872D,  #ffb227);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF872D', endColorstr='#ffb227');
}
.applyBtn a {
  color: white!important;
  text-decoration: none;
}