/*START GLOBAL SETTINGS*/

a, img {
  border:none;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, p, a, ul, label, button {
  font-family: 'Open Sans', Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: #666666;
}

h5 {
  font-size: 18px;
  margin: 0;
}

p {
  font-size: 14px!important;
  line-height: 1.4em;
}

a:link, a:visited {
  color: #f47c2f;
  padding-bottom: 0px;
}

a:hover {
  color: rgb(193, 82, 65);
  color: #7898a4;
}

hr {
  border: 1px solid #E5E5E5;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
  visibility: visible;
}

body {
  margin: 0 auto;
}

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.imgBorder {
  padding: 8px 9px;
  border: 1px solid #D0D0D0;
  background: #f2f2f2;
}

.emphasisTitle {
  color: #1a334c;
  font-size: 60px;
  margin-top: 0px;
  line-height: .85em;
  letter-spacing: -2px;
  font-weight: bold;
  margin-bottom: 25px;
}


.emphasisTitleSm {
  font-size: 40px;
  color: #1a334c;
  margin-top: 0px;
  line-height: .85em;
  letter-spacing: -2px;
  font-weight: bold;
  margin-bottom: 25px;
}

.homesub {
  color: #1a334c;
  font-size: 24px;
  margin-top: 7px;
  margin-bottom: 10px;
  font-style: bold;
  font-family: ‘Merriweather’, Georgia, serif;
}

.smallHeadline {
  font-size: 17px;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  color: #7898a4;
  padding: 0;
}

.smallDiff {
  margin-bottom: 10px;
  font-family: ‘Merriweather’, Georgia, serif;
}

.contentWrap {
  width: 960px;
  margin: auto;
  margin-bottom: 10px;
}

/*START HEADER*/
header {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  padding: 0px;
  position: fixed;
  z-index: 1;
  height: 45px;
}

#header_wrapper {
  width: 960px;
  margin: auto;
}

#header_left {
  float: left;
}

#header_right {
    float: right;
}

#header_logo img {
  margin-top: 2px;
  height: 40px;
  float: left;
}

.socialLinks {
  width: 180px;
  position: absolute;
  margin-top: 12px;
  right: 0;
}
.socialLinks img {
  height: 20px;
  width: 20px;
}

#social2 {
  float: right;
  width: 50px;
}

#social3 {
  float: right;
  width: 50px;
}

#social1 {
  float: right;
  width: 40px;
}

/*SINGLE BLOG PAGE*/

.commentlist {
  display: inline;
  list-style: none;
}

.commentmetadata {
  font-size: 14px;
  padding-top: 5px;
}

.comment-author {
  padding-top: 45px;
}

.children {
  display: inline;
  list-style: none;
}

/*START FOOTER*/

footer {
  font-family: 'Open Sans', sans-serif;
  padding: 20px 0px 10px 0px;
  background: #E9E9E9;
  border-top: 8px solid #D0D0D0;
  margin: 0 auto;
  position: relative;
  margin-top: 80px; /* negative value of footer height */
  height: 90px;
  clear:both;
}

#footer_wrapper {
  width: 960px;
  margin: 0 auto;
}

#footer_left {
  width: 320px;
  float: left;
  margin-top: -30px;
}

#footer_right {
  width: 640px;
  float: left;
  margin-top: -30px;
  margin-bottom: 10px;
}

#footer_logo img {
  height: 40px;
}

.footer_social {
  margin-top: -30px;
  float: right;
  margin-right:-20px;
}

.footer_social a {
  color: gray;
  text-decoration: none;
  display: block;
  float: left;
  font-size: 14px;
}

.footer_social img {
  height: 20px;
  width: 20px;
}

.icon {
  display: inline-block;
  float: left;
  margin-right: 10px;
}

.name {
  padding: 4px 10px 0px 3px;
  height: 12px;
}

footer h5 {
  font-size: 12px;
}

#footer_text {
  margin-top: 20px;
  text-align: center;
  color: gray;
  padding-top: 20px;
}

/*START NAVS*/

nav {
  height: 45px;
  margin-left: 20px;
}

nav ul {
  list-style: none;
  display: inline;
}

nav a {
  text-decoration: none;
  display: block;
  float: left;
  color: #444;
  font-size: 16px;
}

#headNav ul li {
  float: left;
}

#menu-item-21 {
  max-width: 80px!important;
}

#menu-item-21:hover ul li {
  display: block;
}

#menu-item-21 li:first-child {
  border-bottom: solid 1px rgb(60,60,60);
  margin-top: -25px;
  margin-left: 5px;
}

#menu-item-21 li:last-child {
  border-radius: 0 0 2px 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  margin-top: -5px;
  margin-left: 5px;
}

.sub-menu li {
  width: 100px;
  border-left: solid 1px rgb(60,60,60);
  border-right: solid 1px rgb(60,60,60);
  display: none;
}

.sub-menu li a {
  padding-top: 7px!important;
  padding-bottom: 7px!important;
}

#menu-item-504 a, #menu-item-506 a {
  color: #d0d0d0!important;
}

#menu-item-504.current_page_item a, #menu-item-506.current_page_item a {
  color: #fec013!important;
}

#menu-item-504 a:hover, #menu-item-506 a:hover {
  color: white!important;
}

#menu-item-504 a:active, #menu-item-506 a:active {
  color: #d0d0d0!important;
}

#menu-item-20 {
  background-image: url(images/ribbon.png);
  background-repeat: no-repeat;
  height: 70px;
  margin-top: -4px;
  padding: 1px;
  padding-top: 4px;
  margin-left:2px;
}

#menu-item-20 a {
  color: white!important;
}

#menu-item-20 a:hover {
  color: #636363!important;
}

#menu-top_nav {
  padding: 0px;
}

#menu-top_nav li {
  float: right;
}

#headNav a {
  padding: 12px 12px 12px 12px;
  color: #d0d0d0;
  font-style: bold;
}

#headNav a:hover {
  color: white;
}

#headNav a:active {
  color: #d0d0d0;
}

li.current_page_item a {
  color: #fec013 !important;
}

#footNav {
  margin-left: 120px;
}

#footNav a {
  padding: 10px 10px 0px 10px;
  color: #7898A4;
}

#footNav a:hover {
  color: white;
}

#footNav ul li {
  float: left;
}

#menu-bottom_nav {
  padding: 0px;
}

#menu-bottom_nav li {
  float: right;
}

/*BUTTONS*/

.button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding: .5em 2em .55em;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.button:hover {
  text-decoration: none;
}

.button:active {
  position: relative;
  top: 1px;
}

.orange {
  color: #fef4e9;
  border: solid 1px #da7c0c;
  background: #f78d1d;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffb227), to(#FF872D));
  background: -moz-linear-gradient(top,  #ffb227,  #FF872D);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb227', endColorstr='#FF872D');
}
.orange:hover {
  background: #f47c20;
  background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
  background: -moz-linear-gradient(top,  #f88e11,  #f06015);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
  color: #fcd3a5;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF872D), to(#ffb227));
  background: -moz-linear-gradient(top,  #FF872D,  #ffb227);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF872D', endColorstr='#ffb227');
}
.applyBtn a {
  color: white!important;
  text-decoration: none;
}